@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Kanit', sans-serif;
}
body{
    height: 100vh;
    background: url("./../images/coffee.jpg") no-repeat center center/cover;
}
nav{
    width: 100%;
    padding: 10px 0;
    position: fixed;
}
nav .menu{
max-width: 1250px;    
display: flex;
margin: 0 auto;
justify-content: space-between;
}
nav .menu .logo{
    font-size: 35px;
    font-weight: bold;
}
nav .menu .logo .l-left{
    color: #fff;
    text-decoration: none;
}
nav .menu .logo .l-right{
    color: #f57124;
    text-decoration: none;
}
nav .menu .l-left:hover{
    color: #ec931f;
}
nav .menu .l-right:hover{
    color: #f3d31e;
}
nav ul{
    display: flex;
}
nav ul li{
    list-style: none;
    margin-left: 30px;
}
nav ul li a{
    text-decoration: none;
    color: rgb(233, 233, 233);
    font-size: 18px;
    font-weight: 700;
}
nav ul li a:hover{
    color: #ec931f;
    border: 2px solid #ffffff;
    padding: 5px 8px;
    border-radius: 10px;
}
.content{
    display: flex;
    max-width: 1250px;
    height: 100vh;
    align-items: center;
    margin:0 auto;
}
.title{
    width: 100%;
    font-size: 35px;
    color: #fff;
    font-weight: bold;
}
.title span{
    color: #a36411;
}
.sub-title{
    width: 45%;
    font-size: 16px;
    color: #fff;
    margin-top: 20px;
    font-weight: 400;
}
.btn-order{
    max-width: max-content;
    font-size: 20px;
    color: #000000;
    background: #ffffff;
    margin-top: 20px;
    font-weight: 400;
    border: 2px solid #fff;
    padding: 10px 15px;
    border-radius: 10px;
    cursor: pointer;
}
.btn-order:hover{
    background: transparent;
    color: #f57124;
}